<div class="searcher-container">
  <a routerLink="/">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
  </a>
  <mat-form-field class="example-full-width">
    <i class="fa fa-spin fa-refresh" *ngIf="loading"></i>
    <input matInput placeholder="Type to search video..." (keyup)="search()" [(ngModel)]="query">
  </mat-form-field>
  <perfect-scrollbar
    #scrollBar
    [style.height.px]="containerHeight"
    [config]="config"
    (psYReachEnd)="scroll()">
    <div class="result-container">
      <div class="gif" *ngIf="video.length === 0">
        <h2>No results!</h2>
      </div>
      <mat-grid-list cols="4">
        <mat-grid-tile
          *ngFor="let vid of video;let i = index"
          (click)="viewVideo(i)">
          <i class="fa fa-youtube-square"></i>
          <img [src]="vid.snippet.thumbnails.medium.url" alt="">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </perfect-scrollbar>
</div>

